---
layout: default
---

<div class="home">

  <div class="section section-top">
    <div class="social-media-links">
      <a class="social-media-link icon-facebook" href="{{ site.facebook }}">Facebook</a>
      <a class="social-media-link icon-instagram" href="{{ site.instagram }}">Instagram</a>
      <a class="social-media-link icon-twitter" href="{{ site.twitter }}">Twitter</a>
    </div>

    <div class="wrapper">
      <h1 class="logo-white">Invitationsdepartementet</h1>

      <img src="/images/slogan.png" alt="Äta mat på kvällen och prata svenska" class="page-header-image-home" height="258" width="700">

      <div class="section-top-controls">
        <div>
          {% include destination-dropdown.html %}
        </div>

        <a href="{{ site.vimeourl }}" class="button-play-movie js-button-play-movie"></a>
      </div>

      <div class="top-quotes">
        <div class="top-quote top-quote-secondary">
          <p class="quote-text">“Tänk vad enkelt det kan vara – hur långt vi kan komma över en bit mat.”</p>
          <img src="/images/dn.png" class="quote-logo" alt="Dagens Nyheter" width="61" height="33">
        </div>

        <div class="top-quote top-quote-hero">
          <p class="qoute-text">“…has the potential to enlighten everyone involved.”</p>
          <img src="/images/nytimes.png" class="quote-logo" alt="The New York Times" width="289" height="40">
        </div>

        <div class="top-quote top-quote-secondary">
          <p class="qoute-text">“…maten, kulturen och den vänskap som kan uppstå är en fin bonus.”</p>
          <img src="/images/svd.png" class="quote-logo" alt="Svenska Dagbladet" width="66" height="30">
        </div>
      </div>

      <div class="js-video-overlay video-overlay">
        <div class="video-overlay-background"></div>
        
      </div>
    </div>
  </div>

  <div class="section section-intro">
    <div class="wrapper">
      <div class="text-left">
        <div class="section-header-container">
          <h2 class="section-header section-header-bold">Vi finns för att sammanföra människor som vill bli bättre på svenska med människor som pratar flytande svenska över en hemlagad middag.</h2>
        </div>

        <p> Middagen är alltid gratis, hemma hos någon och sker förutsättningslöst. Ingen gör någon en tjänst utan båda får en upplevelse. Vi tror att alla människor är trevliga och matchning sker endast utifrån datum, reseavstånd och kön (matchning sker ej mellan endast manligt och endast kvinnligt sällskap).  Vem som helst kan anmäla sig att äta middag.</p>

        <p>Invitationsdepartementet är ett icke-statligt, ideellt, partipolitiskt och religiöst obundet initiativ och utgörs av de som själva väljer att delta. Vi tror på ett samhälle där vi möts som människor, samtalar och bygger relationer. Ett samhälle där man förekommer utanförskap och främlingsfientlighet genom att vara välkomnande och inkluderande.</p>
      </div>
    </div>
  </div>

  <div id="karta" class="section section-gray section-article">
    <div class="wrapper">
      <div class="map-desc-text">
        <h2 class="section-header">Vill du äta middag? <br>Klicka på din stads plupp.</h2>

        <p>All middagsförmedling sker på ideell basis och vi ber er därför att ha överseende med eventuell väntan. Eller le, småprata och bjud hem någon på egen hand. Det är lättare än du tror.</p>
      </div>

      <div class="map-desc-text">
        <h2 class="section-header">Finns vi inte där du bor?</h2>
        <p>Vem som helst som känner glädje och ansvar inför uppgiften att skapa middagsmöten borde göra slag i saken. Invitationsdepartementet är ett fenomen som vi tillsammans sprider. Du behövs! <a href="mailto:{{ site.support }}">Bli middagsambassadör på din ort.</a></p>
      </div>
      
    </div>
  </div>

  <div class="map-container">
    {% include map.html %}
    <!--<iframe src="https://www.google.com/maps/d/embed?mid=ze_51rWPzXFo.kV62O_P2j768&amp;wmode=opaque" width="100%" data-embed="true" height="700" id="yui_3_17_2_1_1460380509650_808" class="google-map-embed"></iframe>-->
  </div>

  <div class="section section-faq">
    <div class="wrapper">
        <h2 class="section-header">Vanliga frågor och svar</h2>
        <p>Vill du veta mer om hur Invitationsdepartementet fungerar?</p>

        <div><a href="/fragor-och-svar/" class="button button-white">Läs mer om våra vanliga frågor och svar</a></div>
    </div>
  </div>

  <div class="section section-article">
    <div class="wrapper">
      <h2 class="section-header">Vänner</h2>
      <div class="friend-item">
        <h3>Axfoundation</h3>

        <p>Invitationsdepartementet får ekonomiskt stöd från <a href="http://axfoundation.se/">Axfoundation</a> för att kunna utveckla och skala upp verksamheten. Med projektet ÖppnaDörren stöttar de utvalda organisationer att driva egen verksamhet som konkret och praktiskt bidrar till en förbättrad integration i Sverige.</p>

        <p>Tillsammans vill vi genom Öppna Dörren bidra till ett öppet och inkluderande samhället, utan “vi och dem”. Gemensamt arbetar vi för att inspirera människor att gå från ord till handling och för att bredda nätverken mellan etablerade och nya svenskar.</p>

        <a href="http://axfoundation.se/"><img src="/images/oppna-dorren.png" alt="Öppna Dörren" class="friend-item-image"></a>
      </div>

      <div class="friend-item">
        <h3>Inkludera Invest</h3>

        <p><a href="http://inkluderainvest.se/">Inkludera</a> är en ideell förening som verkar för att så många människor som möjligt blir deltagande i och bidragande till det svenska samhället. De bistår Invitationsdepartementet med strategi och resultatmätning.</p>

        <a class="friend-item-image" href="http://inkluderainvest.se/"><img src="/images/inkludera-invest.png" alt="Inkludera Invest"></a>

        <h3>Andra verksamheter med samma mål</h3>
        <p>
          <a href="http://www.goteborg.se/flyktingguide">Flyktingguide Göteborg</a>,
          <a href="http://bekantskaper.se/">Internationella Bekantskaper</a>,
          <a href="https://ebba-akerman.squarespace.com/config/#">Kompis Sverige</a>,
          <a href="https://www.facebook.com/kompisbyran">Kompisbyrån</a>,
          <a href="http://kultursmakarna.se/om/">Kultursmakarna</a>, 
          <a href="http://www.thenewbieguide.se">NewbieGuide</a>,
          <a href="http://www.redcross.se">Röda Korset</a>,
          <a href="http://www.stanfornya.se/">Stan för Nya</a>,
          <a href="http://www.stockholm.se/OmStockholm/Politik-och-demokrati/Integration-och-demokrati/Stockholmsfadder/?kontakt=">Stockholmsfadder</a>,
          <a href="http://www.svenskamedbaby.n.nu/">Svenska med Baby</a>,
          <a href="http://manniskohjalp.se/projekt/vardagssvenska">Vardagssvenska</a>.
        </p>

      </div>

    </div>
  </div>

  <div class="section section-english">
    <div class="wrapper">
      <div class="text-wrapper">
        <div class="section-header-container">
          <h2 class="section-header section-header-bold">In English?</h2>
        </div>
        <p>If your Swedish isn't too great, you might want to visit <a href="http://unitedinvitations.org">United Invitations</a> to learn more. As the phenomena has spread to several countries, United Invitations is the umbrella name for the global movement. (Previously, sort-of-known as Department of Invitations, a direct translation from the original Invitationsdepartementet in Sweden.)</p>

        <p>It's about bringing change in people and society by connecting immigrants and natives at dinner tables. The New York Times wrote about us <a href="http://www.nytimes.com/2014/07/31/world/europe/in-sweden-dinners-melt-cultural-barriers.html?_r=1">here</a>.</p>
      </div>
    </div>
  </div>

  <div class="section section-article">
    <div class="wrapper">
      <img src="/images/ebba.jpg" class="image-rounded image-left" alt="Ebba" width="450" height="450">
      <h2 class="section-header">Hej!</h2>
      <p>Under ett år arbetade jag som lärarvikarie på SFI.  Som Stockholmare slogs jag av hur segregerad staden var, som lärare undrade jag hur man kan bli bättre på ett språk som man inte har någon att prata med utanför skolan och som Ebba blev jag hembjuden på fantastiska måltider hos flera av mina elever. Detta blev grunden till Invitationsdepartementet som jag startade i februari 2014.</p>

      <p>Vi delar alla ett ansvar för vilken värld vi vill leva i. Det här är ett enkelt och ofta väldigt trevligt sätt se livet från ett annat perspektiv. Måltiden, att ge din tid som gäst eller värd. Det är den värdefulla gåvan.</p>

      <p>Ebba Åkerman, Middagsminister,<br>
      <a href="mailto:{{ site.email }}">ebba@invitationsdepartementet.se</a></p>
    </div>
  </div>
</div>
