<div class="section section-gray text-center">
  <div class="wrapper">
    <h2 class="section-header cta-header">P.S. Det går inte att like-a sig till ett bättre samhälle. Bjud någon på middag idag.</h2>
    <a class="button button-primary" href="/#karta">Ät middag</a>
  </div>
</div>

<div class="site-footer">

  <div class="wrapper center-text">
    © Invitationsdepartementet<br>Invitationsdepartementet c/o Norrsken<br>Birger Jarlsgatan 57 C Box 12<br>Stockholm, Sweden 11356
  </div>

</div>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107413214-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-107413214-1');
</script>