<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@invitationsdept">
<meta name="twitter:title" content="{{ site.title }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:image" content="{{ site.url }}/images/social/twitter.jpg">

<meta name="description" content="{{ site.title }} | {{ site.description }}">
<meta property="og:title" content="{{ site.title }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:url" content="{{ site.url }}">
<meta property="og:image" content="{{ site.url }}/images/social/og.jpg">
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ site.title }}">