.logo-white {
  display: block;
  margin: 10px auto;
  width: 269px;
  height: 71px;
  overflow: hidden;
  text-indent: -999em;
  text-align: left;
  background: transparent url('/images/logga.png') no-repeat left top/contain;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  max-width: 980px;
}

.section {
  padding: 80px 30px;
}

.section-header {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.3em;
}

.section-header-center {
  text-align: center;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.3em;
}

@media all and (max-width: 600px) {
  .section-header {
      font-size: 28px;
  }
}

.section-header-bold {
  color: #472a74;
  background-color: #fff;
  display: inline;
  padding: 5px;
  font-weight: 200;
}

.section-header-container {
  margin-bottom: 30px;
}

.text-left {
  width: 60%;
}

.text-left p {
  padding-right: 100px;
}

@media all and (max-width: 600px) {
  .text-left {
    width: 100%;
    display: block;
  }

  .text-left p {
    padding-right: 20px;
  }
}

.image-right {
  float: right;
  margin-top: 20px;
  height: auto;
  max-width: 40%;
}

@media all and (max-width: 600px) {
  .image-right {
    margin: auto;
    float: none;
    display: block;
    margin-bottom: 30px;
  }
}

.section-gray {
  background-color: #f5f5f5;
}

.social-media-links {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: absolute;
  top: 0;
  left: 20px;
  padding-top: inherit;
}

.social-media-link {
  padding: 0;
  margin: 0 2px;
  padding: 0 4px;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #fff;
  text-indent: -999em;
  background: transparent url('/images/facebook.png') no-repeat top left/contain;
}

.icon-twitter {
  background-image: url('/images/twitter.png');
}

.icon-instagram {
  background-image: url('/images/instagram.png');
}

.icon-vimeo {
  background-image: url('/images/vimeo.png');
}

.icon-flickr {
  background-image: url('/images/flickr.png');
}

.icon-tictail {
  background-image: url('/images/tictail.png');
}

.login-button-wrapper {
  letter-spacing: 3px;
  position: absolute;
  top: 0;
  right: 20px;
  padding-top: inherit;
}

.section-top {
  padding: 20px 20px 40px;
  text-align: center;
  background: #5e5855 url('/images/top-banner.jpg') no-repeat center center/cover;
  color: #fff;
  position: relative;
}

.section-top .wrapper {
  min-height: 710px;
}

.section-intro {
  background: #8673a3 url('/images/middags-bakgrund.jpg') no-repeat center center/cover;
  color: #fff;
}

.page-header {
  margin-top: 4em;
  margin-bottom: 0;
  font-weight: 200;
  font-size: 2.75em;
}

@media all and (max-width: 700px) {
  .page-header {
    margin-top: 3em;
  }
}

.page-header-home {
  display: block;
  margin: 2.75em auto 0.75em;
  width: 723px;
  height: 258px;
  max-width: 90%;
  background: transparent url('/images/slogan.png') no-repeat left top/contain;
  text-indent: -999em;
  text-align: left;
  overflow: hidden;
}

.page-header-image-home {
  max-width: 90%;
  height: auto;
  margin-top: 2em;
  margin-bottom: 1em;
}

@media all and (max-width: 600px) {
  .page-header-image-home {
    margin-top: 3em;
    margin-bottom: 2em;
  }
}

.page-subheader {
  font-family: Merriweather;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 2em;
}

.section-top-controls {
  position: absolute;
  top: 55%;
  margin: auto;
  left: 0;
  right: 0;
}

@media all and (max-width: 700px) {
  .section-top-controls {
    top: 50%;
  }
}

@media all and (max-width: 410px) {
  .section-top-controls {
    top: 40%;

    .button-primary {
      margin: 10px;
      display: block;
    }
  }
}

.destination-wrapper {
  background-color: #fff;
  border-radius: 3px;
  display: inline-block;
  color: #000;
  padding: 0 0 0 20px;
  position: relative;
}

@media all and (max-width: 410px) {
  .destination-wrapper {
    display: block;
    margin: 0 10px;
  }
}

.destination-label {
  color: #666;
}

.destination-input {
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 16px 0;
  font-size: inherit;
  cursor: pointer;
  border-radius: inherit;

  &::-ms-expand { /* For IE 11, hide arrow */
    display: none;
  }
}

.button-primary {
  background-color: $brand-color;
  color: #fff;

  &:hover {
    background-color: darken($brand-color, 3%);
  }
}

.button {
  padding: 15px 20px;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
}

.button-white,
.button-white:visited {
  background-color: #fff;
  color: #78305a;
}

.button-play-movie {
  display: inline-block;
  height: 80px;
  width: 80px;
  background: transparent url('/images/play.png') no-repeat center center/cover;
  margin-top: 2em;
  text-decoration: none;
}

.top-quotes {
  position: absolute;
  width: 100%;
  font-family: Merriweather;
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  bottom: 0px;
  left: 0;
}

.top-quote {
  width: 30%;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 5px;
}

.top-quote-hero { width: 37%; }


@media all and (max-width: 800px) {
  .top-quote {
    font-size: 12px;
  }
}

@media all and (max-width: 420px) {
  .top-quote-secondary {
    display: none;
  }

  .top-quote-hero {
    width: 100%;
    font-size: 18px;
  }
}

.quote-logo {
  width: auto;
  max-height: 30px;
  height: auto;
}

.map-desc-text {
  display: inline-block;
  width: 49%;
  box-sizing: border-box;
  padding-right: 30px;
  vertical-align: top;
}

.map-desc-text + .map-desc-text {
  padding-left: 30px;
  padding-right: 0;
}

@media all and (max-width: 800px) {
  .map-desc-text,
  .map-desc-text + .map-desc-text
   {
    display: block;
    width: 100%;
    padding: 0;
  }
}

.section-faq {
  text-align: center;
  color: #fff;
  background: #a57490 url('/images/faq-banner.jpg') no-repeat center center/cover;

  p a {
    color: inherit;
    text-decoration: underline;
  }
}

.column {
  width: 32%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0 20px;
}

@media all and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
  }
}

.friend-item {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  padding-right: 40px;
  box-sizing: border-box;
}

@media all and (max-width: 600px) {
  .friend-item {
    width: 100%;
    display: block;
    margin-bottom: 40px;
  }
}

.friend-item-image + h3 {
  margin-top: 40px;
}

.section-article {
  a {
    color: $brand-color;
  }
}

.section-english {
  color: #fff;
  background: #f5f5f5 url('/images/nytimes.jpg') no-repeat left top/cover;

  a {
    text-decoration: underline;
  }

  .section-header-bold {
    color: #34221a;
  }
}

.text-wrapper {
  max-width: 60%;
}

@media all and (max-width: 600px) {
  .text-wrapper {
    max-width: 100%;
  }
}

.image-left {
  float: left;
  margin-right: 40px;
  max-width: 50%;
  height: auto;
}

@media all and (max-width: 600px) {
  .image-left {
    margin: auto;
    float: none;
    display: block;
  }
}

.image-rounded {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.site-footer {
  text-align: center;
  padding: 40px;
  color: #b4aaa2;
  background-color: #332c29;
}

.video-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
}

.video-overlay-active {
  display: block;
}

.video-overlay iframe {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 85%;
  max-height: 85%;
}

.google-map-embed {
  border: 0;
  margin: 0;
  padding: 0;
}

#map {
  width: 100%;
  height: 700px;
}

.wrapper-faq {
  max-width: 700px;
  padding: 40px 20px;
}

.wrapper-report {
  max-width: 700px;
  padding: 40px 20px;
}

.article-header {
  text-align: center;
  line-height: 1.5em;
  font-size: 1.4em;
}

.presentations {
  text-align: center;
}

.presentation {
  display: inline-block;
  width: 32%;
  vertical-align: top;
  text-align: left;
  padding: 5px;
  box-sizing: border-box;
}

.presentation:first-child {
  padding-left: 0;
  padding-right: 10px;
}

.presentation:last-child {
  padding-left: 10px;
  padding-right: 0;
}

.presentation-name {
  padding: 10px 0 0;
  display: block;
}

.presentation-desc {
  display: block;
  font-size: 0.85em;
  color: #666;
}

.presentation img {
  max-width: 100%;
  height: auto;
}

.how-presentation {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 18px;
  box-sizing: border-box;
}

p.how-desc {
  max-width: 600px;
  text-align: center;
  margin: auto;
}

p.how-text {
  max-width: 200px;
  text-align: center;
  margin: auto;
}

@media all and (max-width: 750px) {
  .presentation {
    display: block;
    max-width: 100%;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;

    img {
      width: 100%;
    }
  }
}
